.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: black;
}

p {
  font-size: 2rem;
  color: black;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-shadow: 1px 0 gray;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

body{

  background-image: url("./images/tumblr_1982974cefc8a17294556215bbea95b9_9e22fe46_1280.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

}
